<?xml version="1.0"?>

<configuration>
  
  <system.web>
    <authorization>
      <allow roles="admin, superadmin" />
      <deny users="*" />
    </authorization>
  </system.web>

	<system.web>
		<customErrors mode="On" defaultRedirect="Error.aspx?handler=customErrors%20section%20-%20Web.config">
			<error statusCode="404" redirect="Error.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config" />
		</customErrors>
	</system.web>
  
</configuration>

